.container {
  background-color: rgba(197, 228, 231, 1);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Space Mono", monospace;
}
.calcCard {
  width: 920px;
  height: 481px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.procentage {
  width: 70px;
  height: 30px;
  background-color: rgba(0, 71, 75, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}
.divContainer {
  width: 300px;
  height: 152px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}
.selectProcentage {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.rightSide {
  width: 413px;
  height: 417px;
  background-color: rgba(0, 71, 75, 1);
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 45px;
  justify-content: space-between;
}
.resetButton {
  background-color: rgba(38, 194, 174, 1);
  width: 333px;
  height: 48px;
  border-radius: 10px;
  border: none;
}
.billInput,
.peopleInput {
  background-color: rgba(243, 249, 250, 1);
  width: 320px;
  height: 48px;
  border-radius: 5px;
  border: none;
  text-align: end;
  padding-right: 10px;
}
.headlines {
  color: rgba(94, 122, 125, 1);
  font-size: 16px;
  margin-bottom: 5px;
  padding-left: 5px;
}
.svgDollar,
.svgPerson {
  width: 10px;
  position: absolute;
}
.svgDollar {
  left: 80px;
  top: 120px;
}
.svgPerson {
  left: 80px;
  top: 370px;
}
.custom {
  width: 70px;
  background-color: rgb(224, 238, 238);
  border: none;
  text-align: center;
}
.content {
  color: rgba(38, 194, 174, 1);
  font-size: 48px;
}
